/* color palette from <https://github.com/vuejs/theme> */
:root {
  --pal-foreground: #1c1c1e;
  --pal-accent: #d4af37;
  --pal-accent-hover: #b88f2e;
  --pal-background: #f5f1e6;
  --pal-background-mute: #e6e1d8;
  --pal-secondary: #6d2e46;
  --pal-contrast: #5f8291;
  --pal-contrast-hover: #4e6d73;
  --pal-danger: #b33a3a;
  --pal-danger-hover: #972e2e;

  --pal-dark-background: #121417;
  --pal-dark-background-mute: #181a1d;
  --pal-dark-accent: #c9a227;
  --pal-dark-accent-hover: #b38a1f;
  --pal-dark-foreground: #d8d2c1;
  --pal-dark-secondary: #581c35;
  --pal-dark-contrast: #5f8291;
  --pal-dark-contrast-hover: #4e6d73;
  --pal-dark-danger: #c14949;
  --pal-dark-danger-hover: #a33737;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--pal-background);
  --color-background-mute: var(--pal-background-mute);
  --color-accent: var(--pal-accent);
  --color-accent-hover: var(--pal-accent-hover);
  --color-secondary: var(--pal-secondary);
  --color-contrast: var(--pal-contrast);
  --color-contrast-hover: var(--pal-accent-hover);
  --color-danger: var(--pal-danger);
  --color-danger-hover: var(--pal-danger-hover);

  --color-text: var(--pal-foreground);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--pal-dark-background);
    --color-background-mute: var(--pal-dark-background-mute);
    --color-accent: var(--pal-dark-accent);
    --color-accent-hover: var(--pal-dark-accent-hover);
    --color-secondary: var(--pal-dark-secondary);
    --color-contrast: var(--pal-dark-contrast);
    --color-contrast-hover: var(--pal-dark-accent-hover);
    --color-danger: var(--pal-dark-danger);
    --color-danger-hover: var(--pal-dark-danger-hover);

    --color-text: var(--pal-dark-foreground);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  word-wrap: break-word;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
